@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'kanit';
    src: url("./src/Kanit-SemiBold.ttf");
}

body,html {
    font-family: 'kanit', sans-serif;
}

::-webkit-scrollbar { 
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #943e3e;
}

::-webkit-scrollbar-thumb{
    background-color: #EF1B17;
    border-radius: 5px;
}

body{
    height: 10vh;
}