@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Kanit-Regular';
    src: url('./src/font/kanit.woff') format('woff'),
}

body, html {
    font-family: "Kanit-Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
}


::-webkit-scrollbar { 
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb{
    background-color: #ff0400;
    border-radius: 5px;
}

/* 
body{
    height: 10vh;
} */